<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </li>

        {% for post in site.posts %}
          {% if post.title && post.category == 'companies' %}
            <li>
              <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</div>
<!-- /#sidebar-wrapper -->

